<div class='footer'>
  <div class='footer-contents'>

    <div class='cooking-details'>
      <h2 class='footer-content-head'>サイト更新情報</h2>
      <ul>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>